#footer {
   display: flex;
   flex-direction: column;
   position:absolute;
   bottom:0;
   width: 100%;
   text-decoration: none;
   height:30;   /* Height of the footer */
   background:#333;
}

#footer a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(back2.png);
  color: white;
  font-family: Inconsolata;
  font-size: 30px;
  text-align: center;
}
