.box {
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  color: black;
  width: 50%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 5px;
  border-style: inset;
  border-color: black;
  /*
  height: 450px;
  width: 50%;
  border: 5px;
  border-style: inset;
  border-color: black;
  padding: 50px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;*/
}
