/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 13px;
  text-decoration: none;
  font-size: 40px;
  margin: auto;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}
